################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/BlutentnahmeAPI/.vs
/BlutentnahmeAPI/BlutentnahmeAPI/obj
/BlutentnahmeAPI/BlutentnahmeAPI/bin
